<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="A blog by Juliet and Jonathan Lam">
    <meta name="author" content="Jonathan Lam <jlam55555@gmail.com>">
    <meta name="keywords" content="everything is sheep, sheep, jonathan lam, juliet lam">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/res/mobile.css">
    <link rel="stylesheet" href="/res/desktop.css" media="all and (min-width: 1024px)">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">
    <link rel="icon" type="img/x-icon" href="/res/favicon.ico">
    <title>Everything is Sheep{{#if title}}: {{title}}{{/if}}{{#if name}}: {{name}}{{/if}}</title>
  </head>
  <body>
    <div id="sidebar">
      <a href="/" class="center" id="title">Everything <br id="titleBreak">is Sheep</a>
      <div id="menuButton">&#9776;</div>
      <a href="/" class="imgLink"><img id="logo" src="/res/img/logo.png"></a>
      <div id="postList">
        <h2>Posts</h2>
        {{#each postList}}
          <div><a href="/posts/{{filename}}">{{title}}</a> <span class="date">{{date}}</span></div> 
        {{/each}}
      </div>
      <div id="authorList">
        <h2>Authors</h2>
        {{#each authorList}}
          <div><a href="/authors/{{filename}}">{{name}}</a></div>
        {{/each}}
      </div>
    </div>
    <div id="content">
      {{{ body }}}
    </div>
  </body>
</html>
