<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="A blog by Juliet and Jonathan Lam">
    <meta name="author" content="Jonathan Lam <jlam55555@gmail.com>">
    <meta name="keywords" content="everything is sheep, sheep, jonathan lam, juliet lam">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/res/main.js"></script>
    <link rel="stylesheet" href="/res/mobile.css">
    <link rel="stylesheet" href="/res/desktop.css" media="all and (min-width: 1024px)">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">
    <link rel="icon" type="img/x-icon" href="/res/favicon.ico">
    <title>Everything is Sheep{{#if title}}: {{title}}{{/if}}{{#if name}}: {{name}}{{/if}}</title>
  </head>
  <body>
    <div id="sidebar">
      <div id="titleBar">
        <a href="/" class="center" id="title">Everything <br id="titleBreak">is Sheep</a>
        <div id="menuButton"></div>
      </div>
      <a href="/" class="navLink">Return home</a>
      <a href="/posts" class="navLink">View all posts</a>
      <a href="/authors" class="navLink">View all authors</a>
      <a href="/" class="imgLink"><img id="logo" src="/res/img/logo.png"></a>
      <div id="postList" class="sidebarList">
        <h2>Recent Posts</h2>
        {{#each (limitedPostList)}}
          <div><a href="/posts/{{filename}}">{{title}}</a> <span class="date">{{date}}</span></div> 
        {{/each}}
        <div><a class="date" href="/search">Search posts</a> <span class="date">|</span> <a class="date" href="/posts">View all posts</a></div>
      </div>
      <div id="authorList" class="sidebarList">
        <h2>Authors</h2>
        {{#each authorList}}
          <div><a href="/authors/{{filename}}">{{name}}</a></div>
        {{/each}}
      </div>
    </div>
    <div id="content">
      {{{ body }}}
    </div>
  </body>
</html>
