<div id="authorHeader">
  <img id="authorPicture" class="center" src="{{profilePicture}}">
  <h1 id="authorName" class="center">{{name}}</h1>
</div>
<p>{{description}}</p>
<h2>Authored Posts</h2>
<ul>
  {{#each authoredPosts}}
    <li><a href="/posts/{{filename}}">{{title}}</a></li>
  {{/each}}
</ul>
