<div id="authorHeader">
  <img id="authorPicture" class="center" src="{{profilePicture}}">
  <h1 id="authorName" class="center">{{name}}</h1>
</div>
<p>{{{formatDescription}}}</p>
<h2>Authored Posts</h2>
<div id="postViews">
  {{#each authoredPosts}}
    <a class="imgLink postView" href="/posts/{{filename}}">
      <div class="postListPostHeader">
        <h2 class="postViewTitle">{{title}} <span class="date">{{date}}</span></h2>
        <p>Tagged: {{#each tags}}{{this}}{{#if @last}}{{else}} {{/if}}{{/each}}</p>
      </div>
      <p class="postViewPreview">{{{preview}}}</p>
    </a>
  {{/each}}
</div>
