<div id="authorHeader">
  <img id="authorPicture" class="center" src="{{profilePicture}}">
  <h1 id="authorName" class="center">{{name}}</h1>
</div>
<p>{{description}}</p>
<h2>Authored Posts</h2>
<div id="postViews">
  {{#each authoredPosts}}
    <a class="imgLink postView" href="/posts/{{filename}}">
      <h2 class="postViewTitle">{{title}}</h2>
      <h3 class="postViewDate">{{date}}</h2>
      <p class="postViewPreview">{{{preview}}}</p>
    </a>
  {{/each}}
</div>
