<div id="postViews" class='container'>
  {{#each authorList}}
    <a class="imgLink postView" href="/authors/{{filename}}" title="View author {{name}}">
      <div class="postListPostHeader">
        <img src="{{profilePicture}}" class="postViewAuthorPicture authorViewPicture">
        <h2 class='authorListName'>{{name}}</h2>
      </div>
      <p>{{{previewDescription}}}</p>
    </a>
  {{/each}}
</div>
