<img src="{{author.profilePicture}}" id="postAuthorPicture">
<h1>{{title}}</h1>
<h3>By <a href="/authors/{{author.filename}}">{{author.name}}</a> on {{date}}</h3>
<p>Tagged: {{#each tags}}<span class="tag clickable">{{this}}</span>{{#if @last}}{{else}} {{/if}}{{/each}}</p>
<hr class="short">
<div id="postBody">{{{formatPost}}}</div>
<hr class="short">
<p>Return <a href="/">home</a>.</p>
