<div id="postViews">
  {{#each postList}}
    <a class="imgLink postView" href="/posts/{{filename}}">
      <img src="{{author.profilePicture}}" class="postViewAuthorPicture">
      <h2 class="postViewTitle">{{title}} <span class="date">{{date}}</span></h2>
      <h3 class="postViewAuthor">{{author.name}}</h2>
      <p class="postViewPreview">{{{preview}}}</p>
    </a>
  {{/each}}
</div>
