<div id='postHeader'>
  <img src="{{author.profilePicture}}" id="postAuthorPicture">
  <h1 id="postTitle">{{title}}</h1>
  <h3 id="postAuthor">By <a href="/authors/{{author.filename}}" title="View author {{author.name}}">{{author.name}}</a> on {{formatDate}}</h3>
  <p id="postTags">Tagged: {{#each tags}}<span class="tag clickable">{{this}}</span>{{#if @last}}{{else}} {{/if}}{{/each}}</p>
  <div class="shareIcons mobile content">
    <br>
    <a href="/feed.xml" class="shareIcon" title="Subscribe to RSS feed"><i class="fa fa-rss fa-fw"></i></a>
    <a class="shareIcon" title="Share on Facebook"><i class="fa fa-facebook-official fa-fw"></i></a>
    <a class="shareIcon" title="Tweet this"><i class="fa fa-twitter fa-fw"></i></a>
    <a class="shareIcon" title="Share on Google+"><i class="fa fa-google-plus fa-fw"></i></a>
    <br><br>
  </div>
  {{{previousNextPost}}}
</div>
<div id="postBody">
  {{#if imageUrl}}
    <img src="{{imageUrl}}" id="postImage">
  {{/if}}
  {{{formatPost}}}
</div>
<div id='postFooter'>
  <h3>Comments</h3>
  <div id="writeComment">
    <p>Write a comment</p>
    <div id="commentError"></div>
    <input type="text" id="commentName" placeholder="Name" maxlength="50">
    <textarea id="commentText" placeholder="Comment" maxlength="500"></textarea>
    <button id="submitComment">Submit</button>
  </div>
  {{#each comments}}
    <div class="comment">
      <div class="commentDate">@ {{formatCommentDate}}</div>
      <div class="commentName">{{name}}</div>
      <div class="commentText">{{{comment}}}</div>
    </div>
  {{/each}}
  <p>This post has {{hitcount}} views. Return <a href="/" title="Return home">home</a>.</p>
  {{{previousNextPost}}}
</div>
